<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pokemon App 2.0</span>

    <ul class="topnav">
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/sets" routerLinkActive="active">Sets</a>
      </li>
      <li>
        <a routerLink="/pokemon" routerLinkActive="active">Pokemon</a>
      </li>
      <li *ngIf="isBattleMode | async"><a routerLink="/battle" routerLinkActive="active">Battle</a></li>
    </ul>

    <span class="spacer"></span>

    <!-- <mat-slide-toggle (change)="toggleBattleMode($event.checked)">Battle Mode</mat-slide-toggle> -->
    <mat-slide-toggle [checked]="isBattleMode | async" (change)="toggleBattleMode($event.checked)" class="toggle"
			>Battle Mode</mat-slide-toggle
		>

  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
