<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pokemon App 2.0</span>

    <ul class="topnav">
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/sets" routerLinkActive="active">Sets</a>
      </li>
      <li>
        <a routerLink="/pokemon" routerLinkActive="active">Pokemon</a>
      </li>
      <li><a routerLink="/battle" routerLinkActive="active">Battle</a></li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
