<div *ngIf="Cards.length">
  <div class="container">
    <div class="card">
      <img src="{{ Cards[0].imageSmall }}" />
    </div>
    <h1>Vs.</h1>
    <div class="card">
      <img src="{{ Cards[1].imageSmall }}" />
    </div>
    <span class="spacer"></span>  
    <div *ngIf="showDebug" class="debug">
      <p>
        Name: {{Cards[0].name }}<br>
        Set: {{Cards[0].id }}<br>
        Attacks: {{Cards[0].attacks.length}}
      </p>
      <p>
        Name: {{Cards[1].name }}<br>
        Set: {{Cards[1].id }}<br>
        Attacks: {{Cards[1].attacks.length}}
      </p>
    </div>
    <mat-icon aria-hidden="false" aria-label="Debug" (click)="toggleDebug()">help</mat-icon> 
  </div>

  <div class="messages">
    <p *ngFor="let message of Messages">
      {{ message }}
    </p>
  </div>

  <button (click)="startBattle()" *ngIf="beginVisible">Begin</button>
  <button (click)="newMatch()" *ngIf="newVisible">New Match</button>
</div>

<div class="container" *ngIf="!Cards?.length">
  No cards have been chosen for battle.
  <a href="/">Click Here</a>
</div>



